.input {
  padding: 40px 0;
}
.input__label {
  padding-bottom: 7px;
}
.input__field {
  padding: 12px 14px;
  border: 2px solid var(--black);
  background-color: var(--white);
  font-family: var(--font-family-lexend-deca);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-20);
  color: var(--black);
}

.input__field--inactive {
  color: var(--grey);
}

.input__field--error {
  color: var(--red);
  border: 2px solid var(--red);
}

.input__field:focus {
  outline: none;
}
