.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
}

.modal__inner {
  min-width: 60%;
  background-color: var(--white);
  border: 2px solid var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__title {
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.modal__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
